@using MvcStok.Models.Entity
@model List<tbl_Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered" id="dtproduct">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Ürün Markas</th>
            <th>Ürün Kategori</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Stok Adeti</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
        <tr>
            <td>@urun.Product_ID</td>
            <td>@urun.Product_Name</td>
            <td>@urun.Product_Brand</td>
            <td>@urun.tbl_Category.Category_Name</td>
            <td>@urun.Product_Price</td>
            <td>@urun.Product_Stock</td>
            @*<td><a href="/Product/DeleteProduct/@urun.Product_ID" class="btn btn-danger">Sil</a></td>*@
            <td>@Html.ActionLink("Sil", "DeleteProduct", new { id = urun.Product_ID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten silmek istiyor musunuz? ')" })</td>
            <td><a href="/Product/ProductGet/@urun.Product_ID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>


<a href="/Product/NewProduct/" class="btn btn-primary">Yeni Ürün</a>

<link href="~/Content/DataTables/css/fixedColumns.bootstrap4.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>
    $('#dtproduct').dataTable();
</script>